body {
    display: flex;
    font-family: "Helvetica Neue", sans-serif;
    flex-direction: column;
    align-items: stretch;

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #003399;
}


footer {
    display: flex;
    background-color: #003399;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 12px;

}

.container {
    display: flex;
    height: 300px;
    flex: auto;

}

.home {
    display: flex;
    background-color: #003399;
    justify-content: space-between;
    align-content: center;
    padding: 16px;
    color: white;
}

.home-sub {
    display: flex;
    flex-direction: column;
}

.info {
    color: #000080;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px;
   
}

.info-sub {
    display: flex;

}

.reason {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.reason img {
    width: auto;
    height: 200px;
    border-radius: 12px;
    margin: 30px 20px 30px 20px;
}

.reason p {
    color: black;
    width: 200px;
}

.testimonial {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000080;
}
.testimonial p {
    color: white;
    font-size: 24px;
    padding: 24px 24px 24px 24px;
}

.testimonial text {
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: flex-end;
    padding-right: 24px;
}
.right {
    color: white;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    font-size: 20px;
}
.sign {
    display: flex;
    align-items: center;
    background-color: #000080;
    color: white;
    border-radius: 24px;
    box-shadow: 2px 2px 3px black;
    margin: 128px auto;
    padding: 16px 16px;
}
li {
    padding: 4px;
}

h1 {
    color: #FFCC00;
    padding-left: 16px;
}

button {
    background-color: #000080;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-color: white;
    border-radius: 8px ;
    width: 100px;
    height: 40px;

}

#info {
    color: #000080;
}

#signbutton {
    margin: 24px;
}

a {
    text-decoration: none;
    color: white;
}